# Server Port
PORT=5000

# Meta Webhook Verification Token (Matches string entered in Meta Developer Dashboard)
VERIFY_TOKEN="qwertyuiopASDFGhjkLzxcCVBNmASDFhjktghbn"

# Meta App Secret (From Meta Developer Dashboard Settings -> Basic)
APP_SECRET="655d0102b992114707ae5b43f1491ed7"

# Meta Page Access Token (With leads_retrieval permission)
PAGE_ACCESS_TOKEN="EAASwTeNZAdtwBSkS4ZCOmh2saZASyiVcEoZA5srQfTZCXqsdGnLUKcYZAcEHLpH3GPfAVtGzG2ZC3dDsdZBvvoaQsWBoGP2zPwq2jd9U8rZBjTZCpeeKEX4qqZANMsXhlBBS2VqYpOBLaZBfQn9nSPcS5BuZBWnReTGXgeMBpBeUWFNZBPtesm1F71zTP1ifY3HqgAGhON2G3VznmW9RkLTefPZCAROJ6TRyDZBOZCMpZBMNkm5acZD"

